include           CHANGELOG.rst
include           COPYRIGHT
include           LICENSE
include           README.rst
include           conftest.py
recursive-include fsleyes/assets *

# Exclude source (e.g. .xcf) files for some image files
recursive-exclude fsleyes/assets/icons/splash/sources *
recursive-exclude fsleyes/assets/icons/sources        *
recursive-exclude fsleyes/assets/icons/app_icon       *

# Tests and docs are too big for pypi
recursive-exclude fsleyes/tests *
recursive-exclude userdoc       *
recursive-exclude apidoc        *
