include           LICENSE
include           COPYRIGHT
include           README.md
include           requirements.txt
recursive-include userdoc *
recursive-include apidoc  *
recursive-include assets  *
