include           README.rst
include           LICENSE
include           COPYRIGHT
include           requirements.txt
include           requirements-dev.txt
include           requirements-extra.txt
include           requirements-notebook.txt
recursive-exclude tests                       *
recursive-include userdoc                     *
recursive-include apidoc                      *
recursive-exclude userdoc/html                *
recursive-exclude apidoc/html                 *
recursive-include assets                      *
recursive-exclude assets/icons/splash/sources *
recursive-exclude assets/icons/sources        *
recursive-exclude assets/icons/app_icon       *

# these directories are temporarily
# created for built distributions
recursive-include fsleyes/userdoc *
recursive-include fsleyes/assets  *

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.xcf
