{
    "metadata" : {
        "title"            : "FSLeyes",
        "upload_type"      : "software",
        "version"          : "{{VERSION}}",
        "publication_date" : "{{DATE}}",
        "description"      : "<p>FSLeyes is the <a href=\"https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/\">FSL</a> image viewer, a <a href=\"https://www.wxpython.org/\">wxPython</a> application for visualising neuroimaging data.</p>\n\n<p>FSLeyes is developed at the Wellcome Centre for Integrative Neuroimaging (FMRIB), at the University of Oxford. It is hosted at <a href=\"https://git.fmrib.ox.ac.uk/fsl/fsleyes/fsleyes/\">https://git.fmrib.ox.ac.uk/fsl/fsleyes/fsleyes/</a>.</p>",
        "keywords"         : ["python", "mri", "neuroimaging", "neuroscience", "visualisation"],
        "access_right"     : "open",
        "license"          : "Apache-2.0",
        "creators"         : [
           { "name" : "McCarthy, Paul" }
        ]
    }
}
