
/* Horizontally centre a collection of images side-by-side */
.image-strip {
    text-align: center;
}

.image-strip img{
    display:      inline-block;
    margin-left:  auto;
    margin-right: auto;
}

/* Line wrapping in a table, rather than horizontal scrollbar */
.linewrap-table td {
    white-space: normal !important;
}
